<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </title>
    </title>
     <link href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css" rel="stylesheet') }}">
    <link rel="stylesheet" href="{{ url_for('statics', filename='css/bootstrap.css/style.css')}}" >
    <link rel="stylesheet" href="{{ url_for('statics', filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
	<div class="container cover">
		<div class="row">

			<div class="col-md-3"></div>
			<div class="col-md-6 bgg">
				<div class="col-md-4"></div>
				<div class="col-md-4 register">
					<h2>Register</h2>
				</div>
				<div class="col-md-4"></div>

            <div class="col-md-12 create">
            	<h4>Create your account.It's free and only takes a minute.</h4>
            </div>
            <div class="col-md-12">
            	<div class="col-md-6">
            	    <input  type="text" class="input First-name-input" placeholder=" First Name">
               </div>
               <div class="col-md-6">
            	   <input  type="text" class="input Last-name-input" placeholder=" Last Name">
               </div>
            </div>
            <div class="col-md-12">
            	<input  type="text" class="input Email-input" placeholder=" Email ">
            </div>
             <div class="col-md-12">
            	<input  type="text" class="input Password-input" placeholder=" Password ">
            </div>
            <div class="col-md-12">
            	<input  type="text" class="input Confirm-Password-input" placeholder=" Confirm-Password ">
            </div>
            <div class="col-md-12">
            	<button type="button" name="Register" class="btn  Register-button">Register Now</button>


            </div>
            

		    </div>
			<div class="col-md-3"></div>
		</div>
	</div>

</body>
</html>